:host{
    background: rgb(27 25 25);
}

.row{
    display: flex;
    flex-direction: row;
}

.spacing {
    gap: 30px;
    margin: 0 80px;
}

.size{
    flex: 1;
    min-width: 200px;
}

.column_left {
    height: max-content;
}