.row {
    display: flex;
    flex-direction: row;
}

.spacing {
    gap: 30px;
    margin: 0 80px;
}

.size {
    flex: 1;
    min-width: 200px;
}

.column_left {
    height: max-content;
}

.background-picture {
    height: 200px;
    background-color: grey;
}

.image {
    position: absolute;
    top: 150px;
    margin-left: 20px;
}

.image_border {
    height: 50px;
}

:host{
    background: rgb(27 25 25);
}