.btn {
  border: none;
  background:transparent;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.row {
  flex: 1;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

.text {
  margin: 0 20px;
}

.content{
  height: 95px;
}


.not-bold {
  font-weight: normal;
}