.btn {
  border: none;
  background:transparent;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.row {
  flex: 1;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

.text {
  margin-right: 20px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  max-width: 380px;
  overflow-wrap: break-word;
}

.image{
  padding-right: 20px;
}

.not-bold {
  font-weight: normal;
}