<div class="card">
  <div class="column_left">
    <fa-icon class="icon" [icon]="userIcon" size="2xl"></fa-icon>
  </div>
  
  <div class="column_right">
    <textarea class="input" rows="1" cols="40" contenteditable placeholder="Your opinion..." [(ngModel)]="input"
      (paste)="onContentPaste($event)">
      </textarea>

    <div id="images-container"></div>

    <div class="reactions order">
      <button *ngIf=!isComment class="button" (click)="onTweetSubmit()">Tweet</button>
      <button *ngIf=isComment class="button" (click)="onCommentSubmit()">Reply</button>
    </div>
  </div>
</div>